<footer class="site-footer">
  <div class="site-footer-content">
    <span class="site-footer-credits">
      <label>
        This project is developped &amp; supported by:
      </label>
      <div>
        <a href="https://luminvent.com" target="_blank">
          <img src="/assets/images/luminvent_logo.png">
        </a>
      </div>
      <div>
        <a href="https://mpdata.fr/" target="_blank">
          <img src="/assets/images/logo_mpdata.png">
        </a>
      </div>
      <div>
        <a href="https://www.francetelevisions.fr" target="_blank">
          <img src="/assets/images/1024px-France.tv_-_logo_2022.svg.png">
        </a>
      </div>
      <div>
        <a href="https://www.francetelevisions.fr" target="_blank">
          <img src="/assets/images/logo_DT_DaIA.png">
        </a>
      </div>
      <div>
        <a href="https://www.ina.fr/" target="_blank">
          <img src="/assets/images/768px-Logo_INA.svg.png">
        </a>
      </div>
    </span>
    <span class="site-footer-links">
      <label>
        Links:
      </label>
      <div class=link>
        <a href="https://github.com/media-cloud-ai" target="_blank">
          <img src="/assets/images/gitlab.svg" />
          Gitlab
        </a>
      </div>
      <div class=link>
        <a href="https://hub.docker.com/u/mediacloudai" target="_blank">
          <img src="/assets/images/docker.svg" />
          Docker
        </a>
      </div>
    </span>
  </div>
</footer>
<script type="text/javascript">
  anchors.options.placement = 'left';
  anchors.add('h2, h3, h4, h5, h6');

  var hamburger = document.querySelector('.hamburger');
  var menu = document.querySelector('.menu');
  hamburger.onclick = function () {
      menu.classList.toggle('open');
      hamburger.classList.toggle('close');
  };

</script>
