<table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Title</th>
      <th>Type</th>
      <th>Required</th>
      <th>Default</th>
    </tr>
    {% for property in object.last.properties %}
    <tr>
      <td>{{ property.first }}</td>
      <td>
        {% if property.last['$ref'] %}
          {{ property.last['$ref'] }}
        {% else %}
          {{ property.last.title }}
        {% endif %}
        </td>
      <td>
        <ul>
        {% if property.last.type.first %}
          {%for type in property.last.type%}
            <li>{{ type }}</li>
          {% endfor %}
        {% elsif property.last.type %}
          <li>{{ property.last.type }}</li>
        {% endif %}
        </ul>
      </td>
      <td>
          {% if object.last.required contains property.first %} 
            True 
          {% else %} 
            False 
          {% endif %}
      </td>
      <td>{{ property.last.default }}</td>
    </tr>
    {% endfor %}
</table>