{% for worker in workers %}
  <div class="worker">
    <label>
      {{worker.name}}
    </label>
    {% if worker.description %}
      <div class="description">
        {{worker.description | markdownify}}
      </div>
    {% endif %}
    <div class="icons">
      {% if worker.github %}
        <a href="https://github.com/{{worker.github}}">
          <img src="/assets/images/github.svg" width="15px" target="_blank"/>
        </a>
      {% endif %}
      {% if worker.docker %}
        <a href="https://hub.docker.com/repository/docker/{{worker.docker}}">
          <img src="/assets/images/docker.svg" width="15px" target="_blank"/>
        </a>
      {% endif %}
    </div>
  </div>
{% endfor %}

<script type="text/javascript">
  var url = "https://hub.docker.com/v2/repositories/mediacloudai/rs_manifest_worker/tags/?page_size=25";
  // var url = "https://backend.media-io.com/";
  var myHeaders = new Headers();
  myHeaders.append("Accept", "*/*");

  var configuration = { method: 'GET',
                 headers: myHeaders,
                 mode: 'cors',
                 cache: 'default' };

  fetch(url, configuration)
  .then(function(response) {
    var text = response.text()
    console.log(response, text)
    return text
  })
  .then(function(body) {
    console.log(body)
  })

//   var xhr = new XMLHttpRequest();
//   xhr.onload = function() {
//            console.log(xhr.responseText);
//         }
//   xhr.open('GET', url, true);
//   xhr.send(null);
</script>